:root {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

button {
	font-size: 2rem;
}

h1 {
	font-size: 2.6rem;
}

@media (min-width: 425px) {
	h1 {
		font-size: 3.2rem;
	}
}
