:root {
	--box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

	--clr-drk-blue: rgb(65, 105, 225);
	--clr-lgt-blue: rgba(65, 105, 225, 0.5);

	--clr-drk-red: rgb(225, 65, 65);
	--clr-lgt-red: rgba(225, 65, 65, 0.294);

	--clr-white: rgb(255, 255, 255);
	--clr-grey: rgb(236, 236, 236);
}
